@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color:rgb(22,23,77);
    align-items: center;
    justify-content:space-evenly    ;
}
.outer{
    display: flex;
    /* margin: 20px; */
    background-color:  rgb(213,198,255) ;
    height: 80%;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    height: 80%;
    width: 60%;
    background-color: rgb(38,35,92);
    border: none;
    outline: none;
    border-radius: 25px;
    align-items:center;
    justify-content: center;
    position: relative;
    flex-direction: column;
   
}
.c1{
    background-color: #FFFFFF;
    
    border: 10px solid rgb(38,35,92) ;
    border-top-left-width: 0px;
    border-left-color:white ;  
    border-top-color:white ;
    border-right-color:white ;       
    
}
.c2{
    color: #FFFFFF;
    border-bottom: 10px solid rgb(247,223,30);
}
.photo{
    margin:10px ;
    height: 150px;
    width: 150px;
    border: 4px solid rgb(247,223,30);
    border-radius: 50%;
    border-top-left-width: 0px;
    border-left-color:rgb(38,35,92) ;
    display: grid;
    place-items: center;

}
img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
}
.p1{
    border-left-color:  white;
    
}
.r1{
    color:rgb(247,223,30);
    background-color: rgb(38,35,92);
}
.r2{
    color:rgb(38,35,92);
    background-color: rgb(247,223,30);
    
}
h4{
    color: rgb(107,97,186);
}
p{
    margin: 20px;
    width: 70%;
    text-align: center;

}
.icons{
    display: flex;
    height: 20px;
    width: 100%;
    margin: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.icons i{
    color: rgb(107,97,186);
}
.c1 .icons i{
    color: rgb(38,35,92);
}
.rock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 0px;
    top:10px;
    left: 10px;
    border-radius: 50%;
}
button{
    background-color:rgb(107,97,186);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 20px;
    margin-top: 0px;
    color: #FFFFFF;

}
.c1 button{
     background-color: rgb(38,35,92);
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

